<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Favorites Links</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Links
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/links">All Links</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/links/add">Add Links</a>
            </div>
          </li>
          <li class="nav-item">
            <a href="/profile" class="nav-link">Profile</a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">Logout</a>
          </li>
        {{else}}
        <li class="nav-item">
          <a href="/signin" class="nav-link">SignIn</a>
        </li>
        <li class="nav-item">
          <a href="/signup" class="nav-link">SingUp</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>